<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트</title>
</head>
<body>
<div layout:fragment="content">

    <div class="container">

        <div class="content">

            <div class="">
                <span>게시판 이름</span>
                <span th:text="${article.boardName}"></span>
            </div>

            <table>
                <thead>
                <tr>
                    <th>게시판 번호</th>
                    <th>게시글 제목</th>
                    <th>게시글 내용</th>
                    <th>게시글 작성날짜</th>
                    <th>게시글 작성자</th>
                </tr>
                </thead>

                <tbody>

                <tr th:each="article : ${article}">
                    <td>
                        <span th:text="${article.id}"></span>
                    </td>
                    <td>
                        <span th:text="${article.title}"></span>
                    </td>
                    <td>
                        <span th:text="${article.body}"></span>
                    </td>
                    <td>
                        <span th:text="${#temporals.format(article.regDate, 'yyyy-MM-dd')}"></span>
                    </td>
                    <td>
                        <span th:text="${article.authorName}"></span>
                    </td>
                </tr>
                </tbody>

            </table>

        </div>

    </div>

</div>

</body>
</html>