<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시물 리스트</title>
</head>
<body>
<div layout:fragment="content"></div>

  <div class="container">
      <div class=contents"">
        <span>게시판 이름:</span>
        <span th:text="${article.boardaName}"></span>
      </div>

      <form action="" th:action="@{/articles/modify}" + ${article.id} method="post">
        <input type="hidden" th:value="${article.boardId}" name="board_id">

      <div class="form-site">
        <span>게시물 내용</span>
        <textare name=""body cols="30" rows="10" th:text="${article.body}"></textare>
      </div>

      <div class="form-item">
        <button>확인</button>
        <a href="/">
          <button>취소</button>
        </a>
      </div>
      </form>
  </div>
</body>
</html>