<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>여행을 떠나요</title>
    <!--6-3 index.html 작성-->
</head>
<body>
<!-- <div class="container">
  <div class="contents">
    <h1>여행 커뮤니티</h1>
    <hr>
    <a href="/members/join">회원가입으로</a>
    <a href="/members/login">로그인으로</a>  7-7 로그인 페이지로 이동하도록 작성함 -->

    <haeder th:replace="fragments/header::headerFragments"></haeder> <!-- 8-4 header.html 작성 후 이곳에도 추가함 -->
</body>
</html>