<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"> <!-- 8-10 -->
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <!-- 4-7 join.html 작성 -->
</head>
<body>
<div layout:fragment="content"> <!-- 8-9 -->
    <div class="mb-20"></div>
    <div class="container flex justify-center mx-auto">
        <div class="contents">
            <div class="join-form border p-20 rounded-lg shadow-md"> <!-- 7-4 signup을 join으로 변경 -->
                <div class="join-title text-2xl flex justify-center mb-12"> <!-- 7-4 signup을 join으로 변경 -->
                    <h1>회원가입</h1>
                </div>
                <form action="" th:action="@{~/members/join}" method="POST">
                    <div class="flex justify-center">
                    <div class="flex-col">
                    <div class="form-item mb-4">
                        <input class="border rounded p-1 rounded bg-gray-50" name="loginId" type="text" placeholder="아이디" autocomplete="off" required>
                    </div>

                    <div class="form-item mb-4">
                        <input class="border rounded p-1 rounded bg-gray-50" name="loginPw" type="password" placeholder="비밀번호" autocomplete="off" required>
                    </div>
                    <div class="form-item mb-4">
                        <input class="border rounded p-1 rounded bg-gray-50" name="name" type="text" placeholder="이름" autocomplete="off" required>
                    </div>
                    <div class="form-item mb-4">
                        <input class="border rounded p-1 rounded bg-gray-50" name="nickname" type="text" placeholder="닉네임" autocomplete="off" required>
                    </div>
                    <div class="form-item mb-4">
                        <input class="border rounded p-1 rounded bg-gray-50" name="email" type="email" placeholder="이메일" autocomplete="off" required>
                    </div>
                    <div class="form-item flex justify-center mt-8">
                        <button class="mr-4 border bg-blue-500 p-1 rounded text-white">회원가입</button>
                        <a href="/">
                            <button class="border bg-blue-500 p-1 rounded text-white" type="button">
                                취소
                            </button>
                        </a>
                    </div>
                </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div> <!-- 8-9 -->
</body>
</html>